<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MicroPython Wifi Robot Car</title>
    <link
      href="static/css/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="static/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="speed-options">
      <input
        type="radio"
        name="speed-settings"
        id="option-1"
        value="slow-speed"
      />
      <input
        type="radio"
        name="speed-settings"
        id="option-2"
        value="normal-speed"
        checked
      />
      <input
        type="radio"
        name="speed-settings"
        id="option-3"
        value="fast-speed"
      />
      <label for="option-1" class="option option-1">
        <span>Slow</span>
      </label>
      <label for="option-2" class="option option-2">
        <span>Normal</span>
      </label>
      <label for="option-3" class="option option-3">
        <span>Fast</span>
      </label>
    </div>

    <div class="sensor-values">
      <div class="sensor-values-left">
        <div>Battery status: V</div>
        <div>CPU temp: C</div>
        <div>Tunnel temp: C</div>
        <div>Humidity: %</div>
      </div>

      <div class="sensor-values-right">
        <div id="distance-front-value">Front distance: cm</div>
        <div id="distance-rear-value">Rear distance: cm</div>
        <div id="distance-left-value">Left distance: cm</div>
        <div id="distance-right-value">Right distance: cm</div>
      </div>
    </div>

    <div class="video-and-controls-container">
      <div class="images">
        <p class="camera-labels">FrontCamera</p>
        <iframe
          id="frontFrame"
          src="http://172.20.10.7"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>

      <div class="control-pads">
        <nav class="spin-pad">
          <a class="left control" data-direction="spinLeft"> Spin left </a>
        </nav>
        <nav class="drive-pad">
          <a class="up control" data-direction="forward"> Forward </a>
          <a class="right control" data-direction="right"> Right </a>
          <a class="down control" data-direction="reverse"> Reverse </a>
          <a class="left control" data-direction="left"> Left </a>
        </nav>
        <nav class="spin-pad">
          <a class="right control" data-direction="spinRight"> Spin right </a>
        </nav>
      </div>

      <div class="images">
        <p class="camera-labels">RearCamera</p>
        <iframe
          id="rearFrame"
          src="http://172.20.10.8"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <script src="static/js/custom.js"></script>
  </body>
</html>
